.custom-card-row {
  justify-content: center;
  margin-top: 30px;
}

.custom-card-col {
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.custom-card-col .card {
  max-width: 300px;
  height: 320px;
  max-height: 320px;
}

/* CSS para el botón con efecto hover */
.btn-primary:hover {
  background-color: #25D366; /* Color verde de WhatsApp */
  border-color: #25D366;
  /* Otras propiedades que quieras cambiar al hacer hover */
}

