* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #1f1f1f;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 30px;
    
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
        /* Establece un ancho específico */
    width: 300px;  /* o el tamaño que desees */
    
    /* Establece una altura específica */
    height: 300px;  /* o el tamaño que desees */
    
    /* Asegura que la imagen cubra el área del contenedor, cortándose si es necesario */
    object-fit: cover;
    
    /* Alinea el centro de la imagen dentro del contenedor */
    object-position: center;
    
    /* Opcional: proporciona un poco de espacio entre las imágenes */
    margin: 2px;
    
}

.img-gallery img:hover{
    transform: scale(0.8) ;
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(53, 53, 53, 0.2);

}

.full-img{
    display: none; /* Asegura que el contenedor no se muestre hasta que se haga clic en una imagen */
    position: fixed; /* Hace que el contenedor se fije en la ventana de visualización */
    top: 0; /* Alinea el contenedor con la parte superior de la ventana de visualización */
    left: 0; /* Alinea el contenedor con el lado izquierdo de la ventana de visualización */
    width: 100%; /* Ocupa el ancho completo de la ventana de visualización */
    height: 100%; /* Ocupa el alto completo de la ventana de visualización */
    background: rgba(0, 0, 0, 0.8); /* Proporciona un fondo semi-transparente */
    z-index: 1000; /* Asegura que el contenedor se superponga a otros elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    text-align: center;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


#imgContainer {
    position: relative; /* Establece este contenedor como el referente para los elementos posicionados absolutamente */
    display: inline-block; /* Asegura que el contenedor no ocupe todo el ancho disponible */
    max-width: 95%; /* Impide que la imagen ocupe todo el ancho de la pantalla, proporcionando espacio para los botones */
    max-height: 95%;
}

#fullImg {
    display: block; /* Elimina el espacio extra alrededor de la imagen */
    width: 500px; /* Hace que la imagen sea responsiva */
    height: 500px; /* Limita la altura para que no exceda el contenedor */
    
        /* Asegura que la imagen cubra el área del contenedor, cortándose si es necesario */
    object-fit: cover;
    
    /* Alinea el centro de la imagen dentro del contenedor */
    object-position: center;
}

#prevButton, #nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* tus otros estilos... */
}

#prevButton {
    left: -50px; /* Alinea el botón izquierdo con el lado izquierdo de imgContainer */
}

#nextButton {
    right: -50px; /* Alinea el botón derecho con el lado derecho de imgContainer */
}

.btn {
    position: absolute;
    top: 2.5em; /* Ajusta este valor según lo necesites */
    z-index: 1; /* Esto asegura que el botón se muestre encima de la galería */
}