<head>
    <link href="imageGalery.css" rel="stylesheet">
</head>


<div class="full-img" id="fullImgBox">
        <div id="imgContainer"> <!-- Nuevo contenedor para la imagen y los botones -->
            <img id='fullImg' src="../images/properties/antofagasta/casas/casa 53/casa52.jpg">
            <button id="prevButton" onclick="changeImg(-1)">❮</button>
            <button id="nextButton" onclick="changeImg(1)">❯</button>
        </div>
        <span onclick="closeFullImg()">X</span>

</div>


<div id="gallery" class="img-gallery">
        <!-- Las imágenes se cargarán aquí -->
</div>



<script src="imageGalery.js"></script>

<script>
    var fullImgBox = document.getElementById("fullImgBox")
    var fullImg = document.getElementById('fullImg')

    function closeFullImg() {
        fullImgBox.style.display = 'none'
    }   
</script>
